<% provide :body_tag, 'home' %>

<div class="hero-unit">
  <div class="row">
    <div class="span6">
      <div class="grey-transparent">
        <h1><small>Introducing</small> Auctions.</h1>
        <p>All your Auctions.  All from your iPhone.</p>
      </div>
      <p><a href="/mobile/auctions"><button class="btn-primary btn-large btn-info">Learn More &raquo;</button></a></p>
    </div>
  </div>
</div>

<div id="main_content">
  <div class="page-header">
    <h1>Welcome to Wilcox Technologies.  <small>Software and apps for iPhone and Mac OS X.</small></h1>
    <p>
      <strong>We strive to make your life easier with high-quality software that is both powerful and easy to use.</strong>
      We know your time is valuable &ndash; that's why we spend our time making fast and reliable software.
      You'll love to use our software as much as we loved making it for you.
    </p>
  </div>
  
  <div class="row">
    <div class="span6">
      <h3><a href="/games">Games</a></h3>
      <p>Unwind with your mobile and one of our fun games, like <a href="/games/findalike">Findalike</a>.</p>
    </div>
    
    <!--<div class="span4">
      <h3>Health</h3>
      <p>maybe we shouldn't have this one until SugarDaddy is out</p>
    </div>-->
    
    <div class="span6">
      <h3><a href="/lifestyle">Lifestyle</a></h3>
      <p></p>
    </div>
  </div>
  
  <div class="row">
    <div class="span4">
      <h3>Open Source</h3>
      <p>
        We believe strongly in the power of open-source and invite you to
        <a href="http://oss.wilcox-tech.com/">learn more about Open Source at
        Wilcox Technologies.</a>
      </p>
    </div>
    
    <div class="span4">
      <h3>Support</h3>
      <p>Have a question about how to use our software?  Have a comment about
         how we can make our software work better for you?  Now you can ask
         just about anything on <a href="http://support.wilcox-tech.com/">our new support site</a>.</p>
    </div>
    
    <div class="span4">
      <h3>Connect With Us</h3>
      <p>
        Connect with us on <a href="https://www.facebook.com/WilcoxTech">Facebook</a> or
        <a href="https://twitter.com/Wilcox_Tech">Twitter</a> for the latest updates about
        Wilcox Technologies software: tips, tricks, and new releases you'll love.
      </p>
    </div>
  </div>
