/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body { font: "Lucida Grande","Helvetica Neue","Helvetica","Verdana",sans-serif; padding: 60px 0 40px 0; }

/* Fix tags on support. */
span.label a { color: white; }

/* Fix badges in navbar on support. */
p.navbar-text a {color: gray; }


.answerbody { margin-bottom: 4em; }

.control-group ul { list-style: none; }

/* Nasty hacks for comments on support site because:
   1) I hate my life.
   2) Askbot is inflexible.
   3) This needs to be done before Christmas 2012.  (It is 9 June 2012 right now.)
 */
.comment .comment-votes { display: inline; padding: 0 0.5em; }
.comment .upvote { display: inline; }
.comment .upvote:before { content: "↑"; cursor: pointer; }
.comment .comment-delete { float: right; }
.comment .delete-icon { content: "x"; display: inline; }
.comment .comment-body { display: inline; }
.comment .comment-body p { display: inline; padding-right: 0.5em; }
.comment .comment-body a { padding-right: 0.5em; }
.comment .comment-body .author:before { content: "–"; }
.comment .comment-body .edit { padding-left: 0.5em; }
.comment { border-bottom: 1px solid #eee; padding-bottom: 0.25em; }

.face { display: inline; }
.re { padding-bottom: 1em; border: 1px solid #eee; margin: 0.5em; padding: 0.5em; }
.new { background: #ffe; }

.answer-img-accept:after { content: "✓"; }
.answer-img-accepted:after { color: green; }

.acResults { background: white; }


/* Fancy user badges */
div.user-badge {
  text-align: center;
}

div.user-badge table { width: 100%; }
div.user-badge td { padding: 0.5em; }
div.user-badge td.descriptor { text-align: right; }
div.user-badge td.data { text-align: left; }

.medal { margin: 0.5em; padding: 0.75em; background: #e0eaf0; border-radius: 1em; display: inline-block; }
.badge1 { color: #ffd700; }
.badge2 { color: silver; }
.badge3 { color: #8c7853; }

div.avatar img {
  padding: 0.5em;
  border: 0.25em solid #bbb;
}

.hero-unit h1 small { color: black; }

@media screen {
  body#home {background: url(/images/gavel.jpg) top center no-repeat;}
  .hero-unit {
    background: transparent !important;
    padding-top: 150px;
  }
}

@media handheld {
  body#home {background: none; padding-top: 0;}
  .hero-unit {
    padding: 0 0 !important;
    padding-top: 100px;
  }
}

@media only screen and (max-device-width: 480px) {
  body#home {background: none; padding-top: 0;}
  .hero-unit {
    padding: 0 0 !important;
    padding-top: 100px;
  }
}


.grey-transparent {
  background: rgb(225, 225, 225); /* For browsers that don't support alpha */
  background: rgba(225, 225, 225, 0.8);
  
  border-radius: 1em;
  
  padding: 1em;
  margin-bottom: 1em;
}

/*.navbar-inner {
  background: #666 !important;
  opacity: 0.7 !important;
  filter: alpha(opacity=70);
}*/

a.brand {
  background: url(/images/logo.png) center left no-repeat;
  width: 36px; height: 36px;
  padding: 0 !important;
  margin-left: 20px !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
   a.brand { background: url(/images/logo@2x.png) center left no-repeat; background-size: 36px 36px; }
}

.navbar > .nav a { color: #fff !important; }
.navbar > .nav a:hover { color: #ddd !important; }

.pr-content { font-family: "Palatino Linotype", "Palatino", "Georgia", serif; width: 7.5in; margin: 0 auto; }
.pr-content p { font-family: "Palatino Linotype", "Palatino", "Georgia", serif; }
.pr-headline { font-variant: small-caps; }
/* doesn't work with the word 'iPhone' .pr-subhead { text-transform: capitalize; } */

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(/images/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(/images/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(/images/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(/images/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(/images/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(/images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(/images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(/images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(/images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(/images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(/images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(/images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(/images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(/images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(/images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(/images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(/images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(/images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(/images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(/images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(/images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(/images/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
