<% provide :title, @category.title %>

<h1 class="page-header">
  <%= @category.title %>
  <% unless @category.tagline.nil? %><small><%= @category.tagline %></small><% end %>
</h1>

<% @category.products.each { |product| %>
  <h2><%= link_to product.title, category_product_path(@category.slug, product.slug) %></h2>
  <em><%= product.excerpt %></em>
<% } %>
