<div class="page-header">
  <h1>
    <%= @category.title %>
    <% unless @category.tagline.nil? %><small><%= @category.tagline %></small><% end %>
  </h1>
</div>

<dl>
<% @category.pages.each { |page| %>
  <dt><%= link_to page.title, category_page_path(@category.slug, page.slug) %></dt>
  <dd><%= page.excerpt %></dd>
<% } %>
</dl>
