<div class="page-header">
  <h1>
    <%= @category.title %>
    <% unless @category.tagline.nil? %><small><%= @category.tagline %></small><% end %>
  </h1>
</div>

<dl>
<% @category.products.each { |product| %>
  <dt><%= link_to product.title, category_product_path(@category.slug, product.slug) %></dt>
  <dd><%= product.excerpt %></dd>
<% } %>
</dl>
